@keyframes grow {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }

}
@keyframes shrink {
  from {
    scale: 1;
  }

  to {
    scale: 0;
  }
}

.modal-works.true {
  animation: grow 400ms ease-out 0s 1 forwards;
}
.modal-works.false {
  animation: shrink 400ms ease-out 0s 1 forwards;
}
