@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryFont: hsl(34deg, 78%, 91%);
  --primaryBg: hsl(240, 5.9%, 10%);
  --accentOrange: hsl(15deg, 70%, 59%);
  --accentGreen: hsl(141,78.9%,85.1%);
  --accentBlue: hsl(217deg, 50%, 50%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

img {
  max-width: 100%;
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: var(--primaryBg);
}

::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: var(--accentOrange);
}

.photo-grid {
  background-image: radial-gradient(antiquewhite 0% 4%, transparent 4% 100%);
  background-size: 5% 5%;
  background-repeat: repeat;
  box-shadow: 
  inset 0px 0px 25px var(--primaryBg),
  inset 0px 0px 50px var(--primaryBg),
  inset 0px 0px 50px var(--primaryBg),
  inset 0px 0px 100px var(--primaryBg),
  inset 0px 0px 100px var(--primaryBg);
}
