.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.more-info {
  transition: all 600ms ease;
}

.carousel-button {
  transform: translateY(-50%);
}

.carousel-button:hover,
.carousel-button:focus {
  opacity: 1;
  outline: 3px solid var(--accentGreen);
}

.carousel-container {
  width: clamp(320px, 80vw, 750px);
  aspect-ratio: 16/9;
}

.car-slide {
  transition: opacity 500ms;
}

